<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/sign.css" />
    <title>Sign Up page</title>
</head>

<body>
    <h2>On this page fill out the form to become part of our community 🛫</h2>
    <form action="/auth/sign-up" method="POST">
        <div>
            <div>
            <label for="username">Username:<label>
                    <input type="text" name="username" id="username" required>
            </div>
            <div>
            <label for="password">Password:<label>
                    <input type="password" name="password" id="password" required>
            </div>
            <div>
            <label for="confPassword">Confirm password:<label>
                    <input type="password" name="confPassword" id="confPassword" required>
            </div>
            <div class="btn">
                    <button type="submit">Sign up</button>
            </div>
     </div>  
     </form>
</body>

</html>