body {
  text-align: center;
  padding: 200px;
  background-color: bisque;
}

div {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
