<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <title>THE TRAVELING BLOG</title>
  </head>
  <body>
    <h2>Welcome to</h2>
    <h1>THE TRAVELING BLOG</h1>
    <%- include("partials/welcomeNav.ejs") %>

    <p>
      Discover inspiring journeys and share your own adventures with travelers
      from around the world.<br>
      Join our community to explore amazing stories, connect with fellow
      explorers, and inspire others with your experiences.
      <br>
      Sign up or log in to start your journey! ✈️
    </p>
  </body>
</html>
