<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<%- include("partials/welcomeNav.ejs") %>
    <h1>Welcome to the<br> TRAVELING BLOG</h1>
</body>
</html>